$primary-palette: (
  50: #e2f3f3,
  100: #b8e0e0,
  200: #88cccc,
  300: #58b8b8,
  400: #35a8a8,
  500: #119999,
  600: #0f9191,
  700: #0c8686,
  800: #0a7c7c,
  900: #056b6b,
  A100: #9bffff,
  A200: #68ffff,
  A400: #35ffff,
  A700: #1bffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$secondary-palette: (
  50: #f3e2e2,
  100: #e0b8b8,
  200: #cc8888,
  300: #b85858,
  400: #a83535,
  500: #991111,
  600: #910f0f,
  700: #860c0c,
  800: #7c0a0a,
  900: #6b0505,
  A100: #ff9b9b,
  A200: #ff6868,
  A400: #ff3535,
  A700: #ff1b1b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
