@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans-bold.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans-bold.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans-oblique.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans-oblique.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans-oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans-oblique.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans-oblique.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans-oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans-bold-oblique.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans-bold-oblique.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans-bold-oblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'latin_modern_sans';
    src: url('../assets/fonts/latin-modern-sans-bold-oblique.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-sans-bold-oblique.woff') format('woff'),
         url('../assets/fonts/latin-modern-sans-bold-oblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}
@font-face {
    font-family: 'latin_modern_mono_caps';
    src: url('../assets/fonts/latin-modern-mono-caps.woff2') format('woff2'),
         url('../assets/fonts/latin-modern-mono-caps.woff') format('woff'),
         url('../assets/fonts/latin-modern-mono-caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
