<div id="navbar-space"></div>
<div id="navbar-main">
  <div id="navbar-logo" routerLink="/">
    <img src="../../../assets/logo.png">
  </div>
  <div class="navbar-element" [class.active]="active == ''" routerLink="/">
    <h1>Spielen</h1>
  </div>
  <div class="navbar-element" [class.active]="active == 'rules'" routerLink="/rules">
    <h1>Lernen</h1>
  </div>
  <div class="navbar-element" [class.active]="active == 'deck'" routerLink="/deck">
    <h1>Planen</h1>
  </div>
  <div class="navbar-element" [class.active]="active == 'trade'" routerLink="/trade">
    <h1>Handeln</h1>
  </div>
  <div class="navbar-element" (click)="logout()">
    <h1>X</h1>
  </div>
</div>