#navbar-main {
    position: relative;
    width: calc(100% - 60px);
    height: 62px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 30px 0 30px;
}

.navbar-element {
    position: relative;
    cursor: pointer;
    float: left;
    left: 0;
    width: fit-content;
    margin: 0 10px 0 10px;
    padding: 0 36px 0 36px;
}

.navbar-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 62px;
    background-image: url('../../../assets/navbar_box_left.png');
}

.navbar-left.active {
    background-image: url('../../../assets/navbar_box_left_active.png') !important;
}

.navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 62px;
    background-image: url('../../../assets/navbar_box_right.png');
}

.navbar-right.active {
    background-image: url('../../../assets/navbar_box_right_active.png') !important;
}

.navbar-center {
    position: relative;
    height: 62px;
    line-height: 62px;
    text-align: center;
    background-image: url('../../../assets/navbar_box_center.png');
}

.navbar-center.active {
    background-image: url('../../../assets/navbar_box_center_active.png') !important;
}
