#navbar-space {
  position: relative;
  height: 25px;
  width: 100%;
}
#navbar-main {
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--color-dark) 50%, var(--color-primary-dark) 130%);
  border-top: 3px ridge var(--color-primary-dark);
  border-bottom: 3px ridge var(--color-primary-dark);
  height: 62px;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  z-index: 50;
}
.navbar-element {
  position: relative;
  cursor: pointer;
  float: left;
  left: 0;
  width: fit-content;
  margin: 0 10px 0 10px;
  padding: 10px 36px 10px 36px;
  background: radial-gradient(closest-side, color-mix(in srgb, var(--color-primary), transparent 70%) 30%, rgba(0, 0, 0, 0));
  h1 {
    color: var(--color-primary-light);
  }
  img {
    width: 35px;
    filter: invert(12%) sepia(41%) saturate(340%) hue-rotate(125deg) brightness(84%) contrast(88%);
  }
}
.navbar-right {
  position: absolute;
  top: 0;
  left: calc(100% - 130px);
}
.active, .navbar-element:hover {
  background: radial-gradient(closest-side, color-mix(in srgb, var(--color-accent), transparent 50%) 40%, rgba(0, 0, 0, 0));
}
.active, .navbar-element:hover {
  h1 {
    color: var(--color-accent-light);
  }
  img {
    filter: invert(15%) sepia(10%) saturate(579%) hue-rotate(314deg) brightness(87%) contrast(104%);
  }
}
#navbar-logo {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  background: radial-gradient(closest-side, color-mix(in srgb, var(--color-dark), transparent 25%) 75%, rgba(0, 0, 0, 0));
  width: fit-content;
  padding: 10px 20px;
  z-index: 51;
}