#rules-box {
  position: relative;
  width: calc(100% - 50px);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  #main-table {
    width: 100%;
    #table-of-content {
      width: 250px;
    }
    #rules-content {
      padding-left: 40px;
      h2 {
        display: block;
        margin-bottom: 15px;
      }
      p,
      ul,
      ol {
        margin-bottom: 40px;
      }
      table {
        border-collapse: collapse;
      }
      td,
      th {
        border: 1px ridge color-mix(in srgb, var(--color-light), transparent 50%);
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
      }
      tr:hover {
        background-color: color-mix(in srgb, var(--color-accent), transparent 60%);
      }
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        vertical-align: middle;
        background-color: var(--color-primary);
        color: var(--color-light);
      }
      .left {
        float: left;
        margin-right: 20px;
      }
      .right {
        float: right;
        margin-left: 20px;
      }
      .size-20 {
        max-width: 20%;
      }
      .size-30 {
        max-width: 30%;
      }
      .size-40 {
        max-width: 40%;
      }
    }
  }
}
