<oc-navbar active="rules"></oc-navbar>
<div id="rules-box">
  <oc-content-box title="Spielregeln">
    <table id="main-table">
      <tr>
        <td id="table-of-content">
          <mat-selection-list #activeChapter [multiple]="false" color="primary">
            <h5>Allgemeines</h5>
            <mat-list-option value="intro"><h4>Intro</h4></mat-list-option>
            <mat-list-option value="setup"><h4>Spielaufbau</h4></mat-list-option>
            <mat-list-option value="symbols" selected="true"><h4>Symbole</h4></mat-list-option>
            <h5>Karten</h5>
            <mat-list-option value="play-cards"><h4>Karten ausspielen</h4></mat-list-option>
            <mat-list-option value="hull-cards"><h4>Rumpfkarten</h4></mat-list-option>
            <mat-list-option value="equipment-cards"><h4>Ausr&uuml;stungskarten</h4></mat-list-option>
            <mat-list-option value="nfrastructure-cards"><h4>Infrastrukturkarten</h4></mat-list-option>
            <mat-list-option value="tactic-cards"><h4>Taktikkarten</h4></mat-list-option>
          </mat-selection-list>
        </td>
        <td id="rules-content" [ngSwitch]="activeChapter.selectedOptions.selected[0].value">
          <div *ngSwitchCase="'intro'">
            <img [src]="imgUrl('intro')" class="right size-20" />
            <p>
              Willkommen zu <i>Outer Colonies</i> , dem Trading Card Game, welches dich in den unwirtlichen
              Rand unseres Sonnensystems entführt. Sei einer der abenteuerlustigen Anführer, die fernab der
              überbevölkerten und von Kriegen zerrütteten Erde und den marsianischen Oligarchien auf den
              äußeren Monden und Asteroiden um die Vorherrschaft auf Lebensraum und Ressourcen kämpfen.
            </p>
            <p>
              Mit deinen <i>Outer Colonies</i> Karten stellst du dir ein Deck aus <b>60 bis 100</b> Karten
              zusammen mit dem du gegen einen oder mehrere andere Spieler antreten kannst. Auf den folgenden
              Seite lernst du, wie eine Partie <i>Outer Colonies</i> abläuft und wie du deine Karten einsetzt.
            </p>
          </div>
          <div *ngSwitchCase="'setup'">
            <img [src]="imgUrl('setup')" class="left size-40" />
            <p>Vor dem Spielbeginn mischen beide Spieler ihr Deck und ziehen <b>7 Karten</b>.</p>
            <p>
              Die Kolonie jedes Spielers hat <b>50 Rumpfpunkte</b>. Jeder Spieler notiert sich die Anzahl
              seiner verbleibenden Rumpfpunkte für alle sichtbar während des Spieles. Ein Spieler dessen
              Rumpfpunkte zum Rundenende auf 0 sinken scheidet aus dem Spiel aus. Der Spieler der als letztes
              im Spiel verbleibt gewinnt.
            </p>
            <p>
              Während des Spiels legst du Karten vor dir aus, die in einer der drei Spielzonen (siehe
              Abbildung) liegen.
            </p>
          </div>
          <div *ngSwitchCase="'symbols'">
            <p>
              In Outer Colonies wird der Typ der Karte, seine Eigenschaftspunkte sowie die sogenannten Sockel in Form von Symbolen dargestellt.
            </p>
            <table>
              <tr>
                <th colspan="2">Sockel</th>
                <th colspan="2">Schiffs- und Ausr&uuml;stungsattrbute</th>
                <th colspan="2">Kartentypen</th>
              </tr>
              <tr>
                <td></td>
                <td>Delta (Triebwerk)</td>
                <td></td>
                <td>Punktabwehr</td>
                <td></td>
                <td>Taktik</td>
              </tr>
              <tr>
                <td></td>
                <td>Theta (Leichte Waffen)</td>
                <td></td>
                <td>Schild</td>
                <td></td>
                <td>Rumpf</td>
              </tr>
              <tr>
                <td></td>
                <td>Xi (Schwere Waffen)</td>
                <td></td>
                <td>Panzerung</td>
                <td></td>
                <td>Ausr&uuml;stung</td>
              </tr>
              <tr>
                <td></td>
                <td>Phi (Torpedos)</td>
                <td></td>
                <td>H&uuml;llenintegrit&auml;t</td>
                <td></td>
                <td>Infrastruktur</td>
              </tr>
              <tr>
                <td></td>
                <td>Psi (Frachtraum)</td>
                <td></td>
                <td>Geschwindigkeit</td>
                <td colspan="2" rowspan="3"></td>
              </tr>
              <tr>
                <td></td>
                <td>Omega (Defensivsysteme)</td>
                <td></td>
                <td>Schaden</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td></td>
                <td>Energie</td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </oc-content-box>
</div>
