html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
@font-face {
  font-family: 'latin-modern-sans';
  src: url('https://api.outercolonies.thomsen.in/assets/fonts/latin-modern-sans.woff2') format('woff2'),
      url('https://api.outercolonies.thomsen.in/assets/fonts/latin-modern-sans.woff') format('woff'),
      url('https://api.outercolonies.thomsen.in/assets/latin-modern-sans.ttf') format('truetype');
}
@font-face {
  font-family: 'latin-modern-mono-caps';
  src: url('https://api.outercolonies.thomsen.in/assets/fonts/latin-modern-mono-caps.woff2') format('woff2'),
      url('https://api.outercolonies.thomsen.in/assets/fonts/latin-modern-mono-caps.woff') format('woff'),
      url('https://api.outercolonies.thomsen.in/assets/fonts/latin-modern-mono-caps.ttf') format('truetype');
}