@use "@angular/material" as mat;
@use "./style/color.scss" as oc;
@import "./style/fonts.scss";
@include mat.core();

$outercolonies-website-primary: mat.define-palette(oc.$primary-palette, 500, 100, 800);
$outercolonies-website-accent: mat.define-palette(oc.$secondary-palette, 500, 100, 700);
$outercolonies-website-warn: mat.define-palette(oc.$secondary-palette, A400, A100, A700);
$outercolonies-website-theme: mat.define-dark-theme(
  (
    color: (
      primary: $outercolonies-website-primary,
      accent: $outercolonies-website-accent,
      warn: $outercolonies-website-warn
    )
  )
);

@include mat.all-component-themes($outercolonies-website-theme);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: "Latin Modern Sans";
}
a,
a:visited,
mat-label {
  color: oc.$primary-color;
}
html,
body {
  height: 100%;
}
body {
  color: white;
}
mat-card-title,
mat-card-subtitle {
  color: white !important;
  font-family: "Latin Modern Mono Caps" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}
h1,
h2,
h3,
h4 {
  font-family: "Latin Modern Mono Caps";
}
h5 {
  font-size: 1.1em;
}
ul {
  list-style-type: square;
}

.oc-icon {
  vertical-align: middle;
  width: 24px;
}
