@use "@angular/material" as mat;
@use "./style/material-theme.scss" as oc;
@import "./style/fonts.scss";
@include mat.core();
@include mat.all-component-themes(oc.$theme);

:root {
  --color-primary: #{mat.get-color-from-palette(oc.$theme-primary, 500)};
  --color-primary-dark: #{mat.get-color-from-palette(oc.$theme-primary, 800)};
  --color-primary-light: #{mat.get-color-from-palette(oc.$theme-primary, 200)};
  --color-accent: #{mat.get-color-from-palette(oc.$theme-accent, 500)};
  --color-accent-dark: #{mat.get-color-from-palette(oc.$theme-accent, 700)};
  --color-accent-light: #{mat.get-color-from-palette(oc.$theme-accent, 100)};
  --color-warn: #{mat.get-color-from-palette(oc.$theme-accent, A400)};
  --color-light: white;
  --color-dark: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: "Latin Modern Sans";
}
a,
a:visited {
  color: var(--color-primary);
}
html,
body {
  height: 100%;
}
body {
  color: var(--color-light);
}
mat-card-title,
mat-card-subtitle {
  color: var(--color-light) !important;
  font-family: "Latin Modern Mono Caps" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}
h1,
h2,
h3,
h4 {
  font-family: "Latin Modern Mono Caps";
}
h5 {
  font-size: 1.1em;
}
ul {
  list-style-type: square;
}
.oc-icon {
  vertical-align: middle;
  width: 24px;
}
