// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "./style/color.scss" as oc;

@import "./style/fonts.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$outercolonies-website-primary: mat.define-palette(oc.$primary-palette);
$outercolonies-website-accent: mat.define-palette(oc.$secondary-palette, A200, A100, A400);
$outercolonies-website-warn: mat.define-palette(oc.$secondary-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$outercolonies-website-theme: mat.define-light-theme(
  (
    color: (
      primary: $outercolonies-website-primary,
      accent: $outercolonies-website-accent,
      warn: $outercolonies-website-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($outercolonies-website-theme);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: "Latin Modern Sans";
}
a,
a:visited,
mat-label {
  color: oc.$primary-color;
}
html,
body {
  height: 100%;
}
body {
  color: white;
}
mat-card-title,
mat-card-subtitle {
  color: white !important;
  font-family: "Latin Modern Mono Caps" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}
h1,
h2,
h3,
h4 {
  font-family: "Latin Modern Mono Caps";
}
h5 {
  font-size: 1.1em;
}
ul {
  list-style-type: square;
}
