<div id="outer-box">
  <div id="inventory-box" class="inner-box">
    <oc-content-box title="Inventar">
      <div class="scroll">
        <oc-inventory-item
          *ngIf="sol > 0"
          [img]="assetURL + '/items/sol.png'"
          [text]="sol + ' Sol'"
        ></oc-inventory-item>
        <oc-inventory-item
          *ngFor="let box of boxes"
          (click)="open(box.itemId)"
          [img]="assetURL + '/items/box.png'"
          text="Geschenk"
        ></oc-inventory-item>
        <oc-inventory-item
          *ngFor="let booster of boosters"
          (click)="open(booster.itemId)"
          [img]="assetURL + '/items/booster' + booster.no + '.png'"
          text="Booster"
        ></oc-inventory-item>
      </div>
    </oc-content-box>
  </div>
  <div id="buy-box" class="inner-box">
    <oc-content-box title="Booster kaufen">
      <div class="scroll">
        <mat-card class="card" *ngFor="let booster of availableBoosters">
          <mat-card-header>
            <mat-card-title>{{ booster.title }}</mat-card-title>
            <mat-card-subtitle><h5>{{ booster.price }} Sol</h5></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img [src]="assetURL + '/items/booster' + booster.no + '.png'" />
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              *ngIf="sol >= booster.price"
              (click)="buyBooster(booster.no)"
              color="primary"
            >
              Kaufen
            </button>
            <button mat-raised-button *ngIf="sol < booster.price" color="warn">Ungen&uuml;gend Sol</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </oc-content-box>
  </div>
</div>
<oc-open-item *ngIf="openedBoxContent" [content]="openedBoxContent" (done)="boxClosed()"></oc-open-item>
