<div id="reset-password-box">
  <oc-content-box title="Neues Passwort vergessen setzen">
    @if (passwordResetSuccessful) {
    <h3>Dein Passwort wurde erfolgreich neu gesetzt!</h3>
    <p>Du kannst dich jetzt <a routerLink="/login">erneut einloggen</a>.</p>
    } @else {
    <form
      id="reset-password-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPasswordForm.valid ? submit() : {}"
    >
      <mat-form-field appearance="outline">
        <mat-label>Neues Passwort</mat-label>
        <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher" />
        @if (password?.hasError('maxlength')) {
        <mat-error> Dein Passwort kann nicht länger als 40 Zeichen sein </mat-error>
        } @else if (password?.hasError('required')) {
        <mat-error> Bitte w&auml;hle ein Passwort </mat-error>
        } @else if (password?.hasError('minlength')) {
        <mat-error> Dein Passwort sollte mindestens 8 Zeichen lang sein </mat-error>
        }
      </mat-form-field>
      <button mat-raised-button type="submit" [color]="resetPasswordForm.valid ? 'primary' : 'warn'">
        Neues Passwort setzen
      </button>
      @if (passwordResetFailed) {
      <mat-error>
        Dieser Link ist nicht (mehr) gültig. Bitte fordere einen
        <a routerLink="/forgot-password">neuen Passwort-Link</a> an.
      </mat-error>
      }
    </form>
    }
    <p id="back-link">
      <a routerLink="/login">&lt; Zur&uuml;ck</a>
    </p>
  </oc-content-box>
</div>
