<div id="background-stars" [class]="'background-stars-' + bgNo">
  <div id="background-layer"></div>
</div>

<oc-navbar *ngIf="authService.isLoggedIn"></oc-navbar>

<div id="root-content">
  <router-outlet></router-outlet>
  <div id="footer">
    <div id="footer-links">
      <ul>
        <li><a routerLink="/imprint">Impressum</a></li>
        <li><a routerLink="/privacy">Datenschutz</a></li>
      </ul>
    </div>
    <a id="version" href="https://github.com/chrthom/outer-colonies/releases" target="_blank">
      <h4 *ngIf="env.stage != 'production'">{{ env.stage }} environment<br /></h4>
      <h3>Outer Colonies - Titan</h3>
      <h6 matBadge="1.5" matBadgeOverlap="false">&nbsp;</h6>
    </a>
  </div>
</div>
