<div id="background-stars" [class]="'background-stars-' + bgNo">
  <div id="background-layer"></div>
</div>

<oc-navbar *ngIf="authService.isLoggedIn"></oc-navbar>

<div id="root-content">
  <router-outlet></router-outlet>
  <div id="footer">
    <div id="footer-links">
      <ul>
        <li><span class="clickable" tabindex="invalid" (click)="openImprint()">Impressum</span></li>
        <li><span class="clickable" tabindex="invalid" (click)="openDataPrivacy()">Datenschutz</span></li>
      </ul>
    </div>
    <a id="version" href="https://github.com/chrthom/outer-colonies/releases" target="_blank">
      <h4 *ngIf="env.stage !== 'production'">{{ env.stage }} environment<br /></h4>
      <h3>Outer Colonies - Helene (v1.9.1)</h3>
    </a>
  </div>
</div>
