#background-stars {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
}

.background-stars-0 {
    background-image: url('https://thomsen.in/outercolonies/background/stars0.jpg');
}

.background-stars-1 {
    background-image: url('https://thomsen.in/outercolonies/background/stars1.jpg');
}

.background-stars-2 {
    background-image: url('https://thomsen.in/outercolonies/background/stars2.jpg');
}

.background-stars-3 {
    background-image: url('https://thomsen.in/outercolonies/background/stars3.jpg');
}

.background-stars-4 {
    background-image: url('https://thomsen.in/outercolonies/background/stars4.jpg');
}

.background-stars-5 {
    background-image: url('https://thomsen.in/outercolonies/background/stars5.jpg');
}

.background-stars-6 {
    background-image: url('https://thomsen.in/outercolonies/background/stars6.jpg');
}

#background-layer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

#root-content {
    position: absolute;
    left: max(calc(50% - 700px), 5%);
    margin: auto;
    width: min(1400px, 90%);
    min-height: calc(100vh - 20px);
    background-image: url('../assets/background_squares_transparent.png');
}

#box-1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 40px);
}

.content-box {
    position: absolute;
    width: 100%;
}

.content-box-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 81px;
    background-image: url('../assets/content_box_top_left.png');
}

.content-box-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    height: 81px;
    background-image: url('../assets/content_box_top_right.png');
}

.content-box-top {
    position: absolute;
    top: 0;
    left: 43px;
    height: 81px;
    width: calc(100% - 218px);
    background-image: url('../assets/content_box_top.png');
}

.content-box-left {
    position: absolute;
    top: 81px;
    left: 0;
    height: calc(100% - 123px);
    width: 43px;
    background-image: url('../assets/content_box_left.png');
}

.content-box-center {
    margin: 81px 42px 42px 43px;
    background-color: rgba(17, 153, 153, 0.08);
}

.content-box-right {
    position: absolute;
    top: 81px;
    right: 0;
    height: calc(100% - 123px);
    width: 42px;
    background-image: url('../assets/content_box_right.png');
}

.content-box-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 42px;
    background-image: url('../assets/content_box_bottom_left.png');
}

.content-box-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background-image: url('../assets/content_box_bottom_right.png');
}

.content-box-bottom {
    position: absolute;
    bottom: 0;
    left: 42px;
    height: 42px;
    width: calc(100% - 84px);
    background-image: url('../assets/content_box_bottom.png');
}
