<div id="background-stars" [class]="'background-stars-' + bgNo">
  <div id="background-layer"></div>
</div>

<div id="root-content">
  <router-outlet></router-outlet>
  <div id="footer">
    <div id="footer-links">
      <ul>
        <li><a routerLink="/imprint">Impressum</a></li>
        <li><a routerLink="/privacy">Datenschutz</a></li>
      </ul>
    </div>
    <span id="version">
      <h3>Outer Colonies - Dione</h3>
      <h4 matBadgeSize="large" matBadge="1.2" matBadgeOverlap="false">&nbsp;</h4>
    </span>
  </div>
</div>
