<div class="content-box">
    <div class="content-box-top-left"></div>
    <div class="content-box-top"></div>
    <div class="content-box-top-right"></div>
    <div class="content-box-left"></div>
    <div class="content-box-center"><ng-content></ng-content></div>
    <div class="content-box-right"></div>
    <div class="content-box-bottom-left"></div>
    <div class="content-box-bottom"></div>
    <div class="content-box-bottom-right"></div>
    <div class="content-box-title"><b>{{ title }}</b></div>
</div>
