<div class="content-box">
  <div class="content-box-top-left" title></div>
  <div class="content-box-top" title></div>
  <div class="content-box-top-right" title></div>
  <div class="content-box-left" title></div>
  <div class="content-box-center" title><ng-content></ng-content></div>
  <div class="content-box-right" title></div>
  <div class="content-box-bottom-left" title></div>
  <div class="content-box-bottom" title></div>
  <div class="content-box-bottom-right" title></div>
  <div class="content-box-title" title>
    <h2>{{ title }}</h2>
  </div>
</div>
