<div id="forgot-password-box">
  <oc-content-box title="Passwort vergessen">
    @if (passwordResetSuccessful) {
    <p>
      Ein Link zum Zurücksetzen deines Passworts wurde an deine E-Mail Adresse geschickt. Bitte prüfe dein
      Postfach!
    </p>
    } @else {
    <form
      id="forgot-password-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="forgotPasswordForm.valid ? submit() : {}"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nutzername oder E-Mail Adresse</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        [color]="forgotPasswordForm.valid && !loading ? 'primary' : 'warn'"
      >
        Passwort zur&uuml;cksetzen
      </button>
      @if (passwordResetFailed) {
      <mat-error> Der Nutzername oder die E-Mail Adresse wurde nicht gefunden </mat-error>
      }
    </form>
    }
    <p id="back-link">
      <a routerLink="/login">&lt; Zur&uuml;ck</a>
    </p>
  </oc-content-box>
</div>
