#forgot-password-box {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

#forgot-password-form mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

#back-link {
  margin-top: 20px;
}