<div id="forgot-password-box">
  <oc-content-box title="Passwort vergessen">
    <form id="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid ? submit() : {}">
      <mat-form-field appearance="outline">
        <mat-label>Nutzername oder E-Mail Adresse</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <button mat-raised-button type="submit" [color]="forgotPasswordForm.valid ? 'primary' : 'warn'">Passwort zur&uuml;cksetzen</button>
      @if (passwordResetFailed) {
      <mat-error> Die eingegebenen Zugangsdaten sind ungültig oder wurden nicht gefunden </mat-error>
      }
    </form>
  </oc-content-box>
</div>
  