<div id="activate-account-box">
  <oc-content-box title="Nutzerkonto aktivieren">
    @if (activationSuccessful) {
    <h3>Dein Benutzerkonto wurde aktiviert</h3>
    <p>Du kannst dich jetzt <a routerLink="/login">einloggen</a>.</p>
    } @else if (activationFailed) {
    <h3>Fehler</h3>
    <p>
      Die &uuml;bertragene Aktivierungscode ist ung&uuml;ltig oder abgelaufen. Bitte registriere dich erneut.
    </p>
    }
    <p id="back-link">
      <a routerLink="/">&lt; Zur&uuml;ck</a>
    </p>
  </oc-content-box>
</div>
