@use "../../../style/color.scss" as oc;

#outer-box {
  position: relative;
  width: min(100%, 940px);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.inner-box {
  position: relative;
  margin: 10px;
  float: left;
}
#game-box {
  width: 400px;
}
#note-box {
  width: 500px;
}
#daily-box {
  width: 550px;
  h3, h4 {
    margin-bottom: 15px;
  }
}
.daily-done {
  color: oc.$secondary-color;
}
.daily-open {
  color: oc.$primary-color;
}
