#outer-box {
  position: relative;
  width: min(100%, 940px);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#game-box {
  position: relative;
  width: 400px;
  margin: 10px;
  float: left;
}
#note-box {
  position: relative;
  width: 500px;
  margin: 10px;
  float: left;
}
