<oc-navbar active="home"></oc-navbar>
<div id="outer-box">
  <div id="game-box" class="inner-box">
    <oc-content-box title="Gegnersuche">
      <p>Starte die Suche nach einem Gegner für ein 1-vs-1 Spiel.</p>
      <br />
      <a mat-raised-button color="primary" [href]="gameUrl + '/?' + authService.sessionToken">
        Suche n&auml;chstes Spiel
      </a>
    </oc-content-box>
  </div>
  <div id="note-box" class="inner-box">
    <oc-content-box title="Feedback erw&uuml;nscht">
      Die derzeitige Version von Outer Colonies befindet sich noch in der Beta Phase. Es kann zwischenzeitlich
      zu Ausf&auml;llen und Fehlern in der Programmausf&uuml;hrung kommen. Du kannst die Weiterentwicklung und
      Stabilisierung des Projektes unterst&uuml;tzen, indem du
      <a href="https://github.com/chrthom/outer-colonies/issues/new/choose" target="_blank"
        >Fehler meldest sowie neue Funktionalit&auml;ten und Verbesserungen vorschl&auml;gst</a
      >
      (du benötigst hierfür einen GitHub Account). Alternativ kannst du eine E-Mail an
      <a href="mailto:feedback@outercolonies.de">feedback@outercolonies.de</a>
      schreiben.
    </oc-content-box>
  </div>
  <div id="daily-box" class="inner-box">
    <oc-content-box title="Tägliche Aufgaben">
      
    </oc-content-box>
  </div>
</div>
