<div id="register-box">
    <oc-content-box title="Registrierung">
        <form id="register-form">
            <mat-form-field class="username-form-field">
                <mat-label>Nutzername</mat-label>
                <input matInput
                    [formControl]="usernameFormControl"
                    [errorStateMatcher]="matcher"
                    [(ngModel)]="username">
                <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
                    Dein Nutzername kann nicht l&auml;nger als 20 Zeichen sein
                </mat-error>
                <mat-error *ngIf="usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required')">
                    Dein Nutzername muss mindestens 3 Zeichen lang sein
                </mat-error>
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                    Bitte w&auml;hle einen Nutzernamen
                </mat-error>
            </mat-form-field>
            <mat-form-field class="password-form-field">
                <mat-label>Passwort</mat-label>
                <input matInput type="password"
                    [formControl]="passwordFormControl"
                    [errorStateMatcher]="matcher"
                    [(ngModel)]="password">
                <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                    Dein Passwort kann nicht länger als 40 Zeichen sein
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                    Dein Passwort sollte mindestens 8 Zeichen lang sein
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Bitte w&auml;hle ein Passwort
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-form-field">
                <mat-label>E-Mail</mat-label>
                <input matInput
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher"
                    [(ngModel)]="email">
                <mat-error *ngIf="emailFormControl.hasError('maxlength') && !emailFormControl.hasError('email')">
                    Die E-Mail Adresse darf maximal 60 Zeichen lang sein
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Dies ist keine valide E-Mail Adresse
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Bitte gib eine valide E-Mail Adresse an
                </mat-error>
            </mat-form-field>
            <mat-form-field class="start-deck-form-field">
                <mat-label>Start Deck</mat-label>
                <mat-select [formControl]="startDeckFormControl" [(ngModel)]="startDeck">
                    <mat-option value="0">Terranische Siedler</mat-option>
                    <mat-option value="1">Freih&auml;ndler-Clans</mat-option>
                    <mat-option value="2">Trans-Jupiter Expedition</mat-option>
                </mat-select>
            </mat-form-field>              
            <button mat-raised-button color="primary">Neuen Nutzer registrieren</button>
            <p id="back-link"><a routerLink="/login">&lt; Zur&uuml;ck</a></p>
        </form>
    </oc-content-box>
</div>