.deck-box {
  position: relative;
  width: calc(100% - 50px);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  table {
    width: 100%;
    th, td {
      padding: 2px 8px 1px 8px;
      white-space: nowrap;
    }
    th {
      text-align: left;
    }
    td {
      * {
        vertical-align: middle;
      }
    }
    td.card-col {
      img {
        max-height: 40px;
      }
    }
    td.name-col {
      width: 100%;
    }
    td.type-col {
      img {
        max-height: 32px;
      }
    }
    td.rarity-col {
      min-width: 80px;
      .rarity {
        float: left;
        margin-right: 3px;
        width: 12px;
        height: 20px;
        background-color: var(--color-primary);
        transform: skew(-20deg) translateY(4px);
      }
      .rarity.active {
        background-color: var(--color-accent);
      }
    }
    td.editon-col {
      img {
        max-height: 32px;
      }
    }
  }
}

.scroll {
  height: 420px;
  overflow-y: auto;
}

mat-card {
  background: color-mix(in srgb, var(--color-dark), transparent 70%);
  width: 300px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  img {
    cursor: pointer;
  }
}

mat-form-field {
  margin-right: 20px;
}

mat-button-toggle img {
  width: 40px;
  transform: translateY(-3px);
}
