<div class="deck-box">
  <mat-form-field appearance="outline">
    <mat-label>Filter Karten</mat-label>
    <mat-select [formControl]="filterFormControl">
      <mat-option value="">Alle</mat-option>
      <mat-option value="hull">Rumpf</mat-option>
      <mat-option value="equipment">Ausr&uuml;stung</mat-option>
      <mat-option value="infrastructure">Infrastruktur</mat-option>
      <mat-option value="tactic">Taktik</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-button-toggle-group [formControl]="viewFormControl">
    <mat-button-toggle value="card"><img src="../../../assets/icons/card-view.png"></mat-button-toggle>
    <mat-button-toggle value="list"><img src="../../../assets/icons/list-view.png"></mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="deck-box" *ngFor="let box of boxes">
  <oc-content-box [title]="box.title">
    <div class="scroll">
      <div *ngIf="viewFormControl.value == 'card'">
        <mat-card
          *ngFor="let card of box.cardsFiltered"
          (click)="box.onClick(card)"
          [matBadge]="card.numOfCards + 'x'"
          matBadgeSize="large"
          matBadgePosition="before"
          [matBadgeHidden]="card.numOfCards == 1"
          matBadgeColor="primary"
        >
          <img mat-card-image [src]="cardIdToCardUrl(card.cardId)" [alt]="card.name" />
        </mat-card>
      </div>
      <table *ngIf="viewFormControl.value == 'list'">
        <tr>
          <th>Aktion</th>
          <th>Karte</th>
          <th>ID</th>
          <th>Name</th>
          <th>Typ</th>
          <th>Seltenheit</th>
          <th>Edition</th>
        </tr>
        <tr *ngFor="let card of box.cardsFiltered">
          <td>
            <button mat-mini-fab (click)="box.onClick(card)" [color]="box.isActiveDeck && canDeactivateDeckCard || !box.isActiveDeck && canActivateDeckCard ? 'primary' : 'warn'">
              <h3>{{ box.isActiveDeck ? '-' : '+' }}</h3>
            </button>
          </td>
          <td>
            <h3>{{ card.numOfCards }}x </h3>
            <img [src]="cardIdToCardUrl(card.cardId)" [alt]="card.name" />
          </td>
          <td>{{ card.cardId }}</td>
          <td>{{ card.name }}</td>
          <td>{{ typeToText(card.type) }}</td>
          <td>{{ card.rarity }}</td>
          <td>{{ cardIdToEditionName(card.cardId) }}</td>
        </tr>
      </table>
    </div>
  </oc-content-box>
</div>
