<div id="confirm-email-box">
  <oc-content-box title="E-Mail ge&auml;ndert">
    @if (confirmationSuccessful) {
    <h3>Deine E-Mail-Adresse wurde ge&auml;ndert</h3>
    <p>Du kannst jetzt zu <a routerLink="/profile">deinem Profil</a> zur&uuml;ckkehren.</p>
    } @else if (confirmationFailed) {
    <h3>Fehler</h3>
    <p>
      Die &uuml;bertragene Best&auml;tigungscode ist ung&uuml;ltig oder abgelaufen. Bitte versuche es erneut.
    </p>
    }
    <p id="back-link">
      <a routerLink="/">&lt; Zur&uuml;ck</a>
    </p>
  </oc-content-box>
</div>
