<div id="profile-box">
  <oc-content-box title="Profilverwaltung">
    <mat-form-field class="wide" appearance="outline">
      <mat-label>Nutzername</mat-label>
      <input matInput readonly="readonly" [value]="username" />
    </mat-form-field>
    <form id="email-form" [formGroup]="emailForm" (ngSubmit)="emailForm.valid ? changeEmail() : {}">
      <mat-form-field class="wide" appearance="outline">
        <mat-label>Neue E-Mail</mat-label>
        <input matInput formControlName="email" [errorStateMatcher]="matcher" />
        @if (email?.hasError('required')) {
        <mat-error> Bitte gib eine valide E-Mail Adresse an </mat-error>
        } @else if (email?.hasError('email')) {
        <mat-error> Dies ist keine valide E-Mail Adresse </mat-error>
        } @else if (email?.hasError('maxlength')) {
        <mat-error> Die E-Mail Adresse darf maximal 60 Zeichen lang sein </mat-error>
        } @else if (email?.hasError('exists')) {
        <mat-error> Diese E-Mail Adresse wird bereits von einem anderen Nutzer verwendet </mat-error>
        } @if (emailResetSuccessful) {
        <mat-hint> Eine Bestätigungs-E-Mail wurde versandt </mat-hint>
        }
      </mat-form-field>
      <button mat-raised-button type="submit" [color]="emailForm.valid ? 'primary' : 'warn'">
        E-Mail &auml;ndern
      </button>
    </form>
    <form
      id="password-form"
      [formGroup]="passwordForm"
      (ngSubmit)="passwordForm.valid ? changePassword() : {}"
    >
      <mat-form-field class="wide" appearance="outline">
        <mat-label>Neues Passwort</mat-label>
        <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher" />
        @if (password?.hasError('required')) {
        <mat-error> Bitte w&auml;hle ein neues Passwort </mat-error>
        } @else if (password?.hasError('maxlength')) {
        <mat-error> Dein Passwort kann nicht l&auml;nger als 40 Zeichen sein </mat-error>
        } @else if (password?.hasError('minlength')) {
        <mat-error> Dein Passwort sollte mindestens 8 Zeichen lang sein </mat-error>
        } @if (passwordResetSuccessful) {
        <mat-hint> Dein Passwort wurde erfolgreich ge&auml;ndert </mat-hint>
        }
      </mat-form-field>
      <button mat-raised-button type="submit" [color]="passwordForm.valid ? 'primary' : 'warn'">
        Passwort &auml;ndern
      </button>
    </form>
    <mat-slide-toggle
      color="primary"
      [checked]="newsletterSubscription"
      [(ngModel)]="newsletterSubscription"
      (click)="changeNewsletter()"
    >
      <mat-label>Newsletter per Mail erhalten</mat-label>
    </mat-slide-toggle>
  </oc-content-box>
</div>
